################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/PS-Akka-DotNet/bin/Debug
/PS-Akka-DotNet/obj/Debug
